.header {
  background-color: #007bff; /* Bootstrap already has primary color */
  color: white;
  width: calc(100%); 
  position: fixed;
  top: 0;
  height: 60px;
  z-index: 1000;
  padding-left: 4%;
}
